{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recipestep creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class='btn btn-success' type="submit" value="Utwórz" />
    {{ form_end(form) }}

    <ul class='list-unstyled'>
        <li>
            <a href="{{ path('recipestep_index') }}">Powrót do listy</a>
        </li>
    </ul>
{% endblock %}
